<%- include('partials/header'); -%>

<header>
    <div class="smoothie">
        <img src="assets/flamingotech.png" alt="FlamingoTech">
    </div>
    <div class="headings">
        <h2>Education with Flare! </h2>
        <a href="/courses" class="btn">View Courses</a>
    </div>
</header>
<body>
        <p>Welcome to the CLASSY and SASSY Learning Institute, where education transcends basic life-skill knowledge into the realm of the Animal Kingdom! <br>In our Flamingo-inspired school, we embark on a journey through the uncharted waters of digital academia. </p>
 <br> <p>Our facility of higher learning will display an index of courses, and invite you to put the "Fun" in FUNCTIONAL!<br> Join the graceful Flamingo, the Swan of the Sea,  to expand your  innovation and imagination. Prepare to witness a new era in learning at Flamingo Tech!</p>
</body>


<%- include('partials/footer'); -%>